@import url('satoshi.css');

* {
    font-family: Satoshi-Regular;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: #f3f3f3;
    overflow-x: hidden;
    padding-bottom: 6vh;
    position: relative;
}

/* Navigation bar */
.navigation-menu {
    width: 100vw;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border: solid;
    border-radius: 2vh;
    background-color: #333;
    border-color: #333;
}

/* Style links */
.navigation-menu a {
    text-decoration: none;
    padding: 2vh;
    color: #f3f3f3;
    border: solid;
    border-radius: 2vh;
    border-color: #333;
    background-color: #333;
    display: block;
}

/* Style each item */
.navigation-item {
    flex : 1 ;
    text-align: center;
}

/* Hover effect */
.navigation-menu a:hover {
    background-color: #555;
    transition: background-color 0.3s ease;
  }

/* Fix position of the content */
.playlist-container {
    padding-top: 0vh;
}

.playlist-image-container {
    margin-top: 2vh;
    margin-left: 2vw;
    aspect-ratio: 1;
    height: 50vh;
    object-fit: cover;
}

.playlist-image {
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-align: center;
    padding-top: 50%;
    background-size: cover;
    image-rendering: pixelated;
}

/* .upload-text {
    padding-top: 50%;
} */

.info-section {
    display: flex;
    align-items: center;
}

.text-container {
    margin-left: 2vw;
}

.playlist-info-text  {
    margin: 1vw;
}

.pack-title-input {
    font-family: 'Satoshi-Black' ;
    font-size: 10vh;
    color: white;
    background-color: black;
    border: none;
}

.pack-title-input:focus {
    outline: none;
    border-bottom: solid;
    box-shadow: none;
}

.pack-description-input {
    font-family: 'Satoshi-Medium' ;
    font-size: 5vh;
    color: white;
    background-color: black;
    border: none;
    width: 100%;
}

.pack-description-input:focus {
    outline: none;
    border-bottom: solid;
    box-shadow: none;
}

.pack-version-input {
    background: none;
    border: none;
    color: white;
    width: 10ch;
}
.pack-version-input:focus {
    outline: none;
    border-bottom: solid;
    box-shadow: none;
}

/* .playlist-element-list {
    position: sticky;
} */

.song-info-div {
    font-family: 'Satoshi-Light';
    margin-top: 2vh;
    width: 100vw;
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    border-bottom: solid;
    border-color: #333;
    vertical-align: text-top;
}

.song-info-item {
    margin-left: 2vw;
}

.top-label-title {
    flex: 2;
}
.top-label-author {
    flex: 2;
}
.top-label-song-length {
    flex: 0.5;
}
.top-label-song-file {
    flex: 2;
}

.top-label-add {
    flex: 1;
    display: flex;
    flex-direction: row;
    
}

.top-label-add:hover {
    color: gray; /* Make text gray */
}
.add-song-button {
    font-size: 2rem;
    line-height: 3vh;
}

.adding-text {
    font-size: 1rem; /* Regular font size for "Add" */
    margin: 0; /* Remove any default margins */
}

.download-button-container {
    position: absolute;
    bottom: 0.5vh;
    right: 0;
}

.download-button {
    text-decoration: none;
    width: 10vw;
    padding: 0.5vh;
    color: #f3f3f3;
    border: solid;
    border-radius: 2vh;
    border-color: #333;
    background-color: #333;
    display: block;
}
.download-button:hover {
    background-color: #555;
    transition: background-color 0.3s ease;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #75E192; /* Green */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none; /*Hidden by default */
    position: fixed; /* Positioned at the center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* On top of other elements */
    margin-left: -60px; /* Half of the width */
    margin-top: -60px;  /* Half of the height */
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }