@import url('satoshi.css');

* {
    font-family: Satoshi-Regular;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: #f3f3f3;
    overflow-x: hidden;
}

/* Navigation bar */
.navigation-menu {
    width: 100vw;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border: solid;
    border-radius: 2vh;
    background-color: #333;
    border-color: #333;
}

/* Style links */
.navigation-menu a {
    text-decoration: none;
    padding: 2vh;
    color: #f3f3f3;
    border: solid;
    border-radius: 2vh;
    border-color: #333;
    background-color: #333;
    display: block;
}

/* Style each item */
.navigation-item {
    flex : 1 ;
    text-align: center;
}

/* Hover effect */
.navigation-menu a:hover {
    background-color: #555;
    transition: background-color 0.3s ease;
  }

/* Fix position of the content */
.playlist-container {
    padding-top: 0vh;
}

.playlist-image-container {
    margin-top: 2vh;
    margin-left: 2vw;
    height: 50vh;
    width: 50vh;
}

.playlist-image {
    height: 100%;
    width: 100%;
}

.info-section {
    display: flex;
    align-items: center;
}

.text-container {
    margin-left: 2vw;
}

.playlist-info-text  {
    margin: 1vw;
}

.playlist-title {
    font-family: 'Satoshi-Black' ;
    font-size: 10vh;
}

/* .playlist-element-div {
    
} */

.song-info-div {
    font-family: 'Satoshi-Light';
    margin-top: 2vh;
    width: 100vw;
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    border-bottom: solid;
    border-color: #333;
    vertical-align: text-top;
}

.song-info-item {
    margin-left: 2vw;
}

.top-label-title {
    flex: 2;
}
.top-label-author {
    flex: 2;
}
.top-label-song-length {
    flex: 0.5;
}
.top-label-song-file {
    flex: 2;
}

.top-label-add {
    flex: 1;
    display: flex;
    flex-direction: row;
    
}

.top-label-add:hover {
    color: gray; /* Make text gray */
}
.add-song-button {
    font-size: 2rem;
    line-height: 3vh;
}

.adding-text {
    font-size: 1rem; /* Regular font size for "Add" */
    margin: 0; /* Remove any default margins */
}