.song {
    font-family: 'Satoshi-Light';
    margin-top: 2vh;
    width: 100vw;
    height: 12vh;
    flex-direction: column;
    list-style-type: none;
    display: flex;
    align-items: top;
    border: solid;
    border-color: #333;
    vertical-align: text-top;
    position: relative;
    -webkit-transition: height 300ms ease-out; 
}

.song:hover {
   height: 26vh;
   -webkit-transition: height 300ms ease-in;   
} 

.song:hover .hidden-song-content {
  display: block;
  -webkit-transition: opacity 600ms ease-in; 
  opacity: 1;
}

.song-content {
  display: flex;
  justify-content: space-around;
}

.hidden-song-content {
  -webkit-transition: opacity 300ms ease-out;
  font-size: 30px; 
  opacity: 0;
  flex-direction: column;
}

.song-item {
    margin-left: 2vw;
}
.song-image-li {
    flex: 1;
}
.song-title-li {
    flex: 2;
}
.song-title {
    margin-top: 7.5%;
}
.song-author-li {
    flex: 2;
}
.song-author {
    margin-top: 7.5%;
}
.song-length-li {
    flex: 0.5;
}
.song-length {
    margin-top: 30%;
}
.song-file-li {
    flex: 2;
}
.song-file {
    margin-top: 7.5%;
}

.song-remove {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1vh;
    
}

.song-remove:hover {
    color: gray; /* Make text gray */
}

.song-image-container {
    flex: 0 0 7rem;
    width: 7rem;
    height: 7rem;
    background-color: rgb(3, 2, 3);
    padding: 0;
    max-width: 7rem;
    max-height: 7rem;
    position: relative;
    margin: 0 1rem;
}
.song-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background-size: cover;
    image-rendering: pixelated;
}

.text-input {
    background-color: #555;
    border-radius: 0.5vw;
    color: white;
}

.animated-frames-input {
    width: 6rem;
    color: rgb(255, 255, 255);
}
.creeperLoot-input {
    width: 6rem;
    color: rgb(255, 255, 255);
}
.animated-frames-input::placeholder {
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

.song-file-label:hover {
    color: gray;
    cursor: pointer;
}