/* Hide the radio buttons */
input[type="radio"] {
    display: none;
}
.tabs-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 97vw;
    border: 1px solid #ccc;
    margin-left: 1vw;
    margin-right: 1vw;
}

.tabs-wrapper .logo {
 margin-right: 2vw;

}
/* Style the labels as tabs */
.tabs label {
    padding: 10px 20px;
    background: #ddd;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-right: -1px;
    display: inline-block;
}

/* Make the first tab label active */
#tab1:checked ~ .tab-labels label[for="tab1"],
#tab2:checked ~ .tab-labels label[for="tab2"],
#tab3:checked ~ .tab-labels label[for="tab3"] {
    background: #fff;
    border-bottom: 1px solid #fff;
    font-weight: bold;
}

/* Tab content area */
.tab-content {
    padding: 20px;
    background-color: #fff;
}

/* Hide all tab content initially */
.content {
    display: none;
}

/* Show content when corresponding tab is checked */
#tab1:checked ~ .tab-content .content1,
#tab2:checked ~ .tab-content .content2,
#tab3:checked ~ .tab-content .content3 {
    display: block;
}

/* Playlist Styles */

.discs-main {
    display: grid;
    border: 1px solid #ccc;
}

/* Header */
.discs-main .playlist-details {
    display: flex;
    border: 1px solid #ccc;
}

/* Playlist */
.playlist-music {
    display: grid;
}

.playlist-music .song {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px solid #ccc;
}
.image { 
    grid-area: 1 / 1 / 3 / 3; 
    height: 100%;
    padding-right: 100%;

}
.song-name { grid-area: 2 / 3 / 3 / 5; }
.song-author { grid-area: 1 / 3 / 2 / 5; }
.song-file-upload { grid-area: 1 / 5 / 3 / 6; }